<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Global Warming. A Visualisation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body style=background-color:blue>
      <!-- Navbar -->
    <div class="ul.navbar">
            <h2>Project 3</h2>
            <a href="gw1">Project Proposal</a>
            <a href="wwd.html">What We Did</a>
            <a href="pg.html">Population Growth</a>
            <a href="at.html">Average Temperature</a>
            <a href="vis.html">Visualisations</a>
            <a href="sum.html">Summary</a>
        </div>
    <!-- Main content -->
  <div>

  <div class="container">
    <div class="row" id="jumbotron">
      <div class="col-md-12 jumbotron text-center">
        <h1><b>Global Warming. A Visualisation</b></h1>
        <h3>By Arshad Sheikh, Belinda Achuo, Muhammed Amjad & Sam Stafford</h3>
        <p>The effects of global warming are already bringing harm to human communities and the natural world. Further temperature rises will have a devastating impact and more action on greenhouse gas emissions is urgently required. Multiple factors contribute to climate change, and multiple actions are needed to address it. The number of people on our planet is one of those factors. Every additional person increases carbon emissions — the rich far more than the poor — and increases the number of climate change victims – the poor far more than the rich.

        </p>
      </div>
    </div>
    <div class="row" style=background-color:#000000 id="meta-data-bar">
      <div class="col-md-4">
        <div class="well">
              <h5><b><font size="5">Countries:</font></b></h5>
              <select id="selDataset" size=5 onchange="newid(this.value)">
              </select>
            </br>
            </div>
          
            <div class="panel panel-primary" style=background-color:#141414>
              <div class="panel-heading" style="color:#750303">
                <h3 class="panel-title"><b><font size="3">Country Info</font></b></h3>
                </div>
                <div id="sample-metadata" class="panel-body" style=background-color:#141414 style=color:#ffffff>
              </div>
            </br>
          </br>
            </div>
      </div>
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b><font size="4">Top Ten Countries by population</font></b></h3>
            </div>
            <div id="sample-metadata2" class="panel-body" style=background-color:#801010></div>
            <div id="bar" style=background-color:#741414>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b><font size="4">Top Ten Countries by Temperature</font></b></h3>
            </div>
            <div id="sample-metadata3" class="panel-body" style=background-color:#141414></div>
            <div id="bar" style=background-color:#6d0606></div>
          </div>
        </div>
    </div>
    </br>
    <div class="row" id="bubble-row">
      <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><b><font size="4">population vs Temperature</font></b></h3>
        </div>
        <div id="sample-metadata4" class="panel-body" style=background-color:#141414></div>
        <div id="bar" style=background-color:#141414></div>
      </div>
      </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <figure>
    <img src="images/earthcracking.jpg"alt="Earth cracking">
        <figcaption>Earth cracking due to Global warming</figcaption>
</figure>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="visual.js"></script>
  
  
</body>

</html>