<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Global Warming. A Visualisation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body style=background-color:rgb(107,107,172)>
  <!-- Navbar -->
  <div class="ul.navbar">
    <h2>Project 3</h2>
    <a href="gw1">Project Proposal</a>
    <a href="wwd.html">What We Did</a>
    <a href="pg.html">Population Growth</a>
    <a href="at.html">Average Temperature</a>
    <a href="vis.html">Visualisations</a>
    <a href="sum.html">Summary</a>
  </div>
  <!-- Main content -->
  <div>

    <div class="container">
      <div class="row" id="jumbotron">
        <div class="col-md-12 jumbotron text-center">
          <h1><b>Relationship between Population and Temperature. A Visualisation</b></h1>
          <h3>By Arshad Sheikh, Belinda Achuo, Muhammed Amjad & Sam Stafford</h3>
          <p>The effects of global warming are already bringing harm to human communities and the natural world. Further
            temperature rises will have a devastating impact and more action on greenhouse gas emissions is urgently
            required. Multiple factors contribute to climate change, and multiple actions are needed to address it. The
            number of people on our planet is one of those factors. Every additional person increases carbon emissions —
            the rich far more than the poor — and increases the number of climate change victims – the poor far more
            than the rich. 
            The charts below represent a relationship between population changes and temperature variations; 
            a prime factor signifying global warming, over 5 decades of a country.
            The difference in population (in millions) and temperature (in degree celsius) between each decade, for a country can be seen on the charts and 
            inferred if an increase in population has
            any effect on temperature and ultimately global warming. The charts do not show how much the population or temperature
            has increased or decreased over the years, but how much variation has occurred between the decades.
            This draws a better picture in visualising the population/temperature relationship. 

          </p>
        </div>
      </div>
      <div class="row" style=background-color:#8a9948 id="meta-data-bar">
        <div class="col-md-4">
          <form>
            <div class="Country">
              <label for="exampleFormControlSelect1">Population and Temperature</label>
              <select class="form-control" id="exampleFormControlSelect1"
              onchange="selectionChanged(this)">
                <option value="-1"> Select a country </option>
                {% for c in myCountriesList %}
                  <option value="{{c[0]}}">{{c[1]}}</option>
                {% endfor %}
              </select>
            </div>
          </form>
          <div class="panel panel-primary" style=background-color:#616060>
            <div class="panel-heading" style="color:#750303">
              <h3 class="panel-title"><b>Country Info</b></h3>
            </div>
            <div id="sample-metadata" class="panel-body" style=background-color:#3b5e4c style=color:#ffffff>
            </div>
            </br>
            </br>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Population change between each decade </h3>
              <div id="plotpop"></div>

            </div>
            <div id="sample-metadata2" class="panel-body" style=background-color:#801010></div>
            <div id="bar1" style=background-color:#741414>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Temperature variation between each decade</b></h3>
              <div id="plottemp"></div>
            </div>
            <div id="sample-metadata3" class="panel-body" style=background-color:#141414></div>
            <div id="bar2" style=background-color:#6d0606></div>
          </div>
        </div>
      </div>
      </br>
      <div class="row" id="bubble-row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Population vs Temperature</b></h3>
              <div id="poptemp"></div>
            </div>
            <div id="sample-metadata4" class="panel-body" style=background-color:#141414></div>
            <div id="bar3" style=background-color:#141414></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='visual.js') }}"></script>


</body>

</html>